# Workflow for running tests on Linux
name: Test Linux

on: [push]

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Swift
        uses: sersoft-gmbh/swifty-linux-action@v3
        with:
          release-version: 5.9
      - name: Build
        run: swift build
      - name: Test
        run: swift test
